body{
    background-color: rgb(66, 130, 214);
}
img{
    width: 15%;
    height: 15%;
    margin-left: 42%;
    margin-top: 5%;
}
div{
 color: rgb(236, 229, 229);  
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
 font-size: 110%;
}
header {
    background-color: rgb(31, 31, 117);
    padding-top: 1%;
    text-align:  center;
    padding: 1.5%;
   
}
.meio{
    padding: 3%;
    font-size: 140%;
    text-align: center;
    padding: auto;
    word-wrap: break-word;
}
footer{
    margin-top: 5%;
    text-align: center;
   
}
footer a{
    padding: 2%;
    color: rgb(63, 30, 94);
    font-size: 150%;
    font-family: monospace;
    
}
.listas{
    margin-left: 3.5%;
}
.listas ul{
   list-style: none;
   margin-left: -1%;
}
.listas h2{
    color: rgb(31, 31, 117) ;
}
