body{
    background-color: rgb(66, 130, 214);
}
div{
 color: rgb(236, 229, 229);  
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
header {
    background-color: rgb(31, 31, 117);
    padding-top: 1%;
    text-align:  center;
    padding: 1.5%;
}
form label{
    font-size: 150%;
    margin-right: 0.2%;
    color: rgb(7, 10, 10);
}
button{
    font-size: 150%;
    font-family: sans-serif;
    color: black;
}
.mensagem{
    width: 50%;
    display: block;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 0.4%;
}
form input{
    border-radius: 2%;
    border: tomato;
    margin-top: 2%;  
}
footer{
    margin-top: 2%;
    text-align: center;
}
footer a{
    padding: 20px;
    color: rgb(63, 30, 94);
    font-family: monospace;
    font-size: 150%;
    
}

